{% extends 'layout.html' %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" name="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 itemprop="name" data-aos="fade-up">Error 404</h1>
                    <h1 itemprop="name" data-aos="fade-up">Página No Encontrada</h1>
                </div>
            </div>
        </div>
    </section>

    {% include 'contact.html' %}

{% endblock %}
