<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Funcionalidades</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-folder"></i></div>
                    <h5 class="subtitles"><a href="">Gestión Documental</a></h5>
                    <p class="description">Creación, Actualización y Consulta de Documentos; así como divulgación y
                        registro de lectura.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-window-close"></i></div>
                    <h5 class="subtitles"><a href="">Gestión de No Conformes</a></h5>
                    <p class="description">Registro y consulta de No conformes; creación y manejo de acciones
                        correctivas y preventivas.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bxs-user-check"></i></div>
                    <h5 class="subtitles"><a href="">Peticiones, Quejas y Reclamos</a></h5>
                    <p class="description">Registro, consulta, tratamiento y respuesta a PQRs.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h5 class="subtitles"><a href="">Indicadores</a></h5>
                    <p class="description">Realice registro y seguimiento a sus indicadores de gestión de su organización.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- ======= More Services Section ======= -->
<section id="more-services" class="more-services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card"
                     style='background-image: url("{{ url_for('static', filename='img/features/bpmpro1.webp') }}");'
                     data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Buenas Prácticas de Manufactura</a></h5>
                        <p class="card-text">Implemente y mantenga el cumplimiento de las BPM, de los diferentes
                            estándares de calidad relacionados con <b>gestión documental</b> de todos los procesos en su
                            laboratorio u organización.</p>
{#                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>#}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="card"
                     style='background-image: url("{{ url_for('static', filename='img/features/bpm_2.webp') }}");'
                     data-aos="fade-up" data-aos-delay="200">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Versatilidad</a></h5>
                        <p class="card-text">BPMPro aplicable a la gestión de calidad para certificación <b>Buenas
                            Prácticas de Manufactura</b> (BPM) de medicamentos, cosméticos, fitoterapéuticos y alimentos.</p>
{#                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>#}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="card"
                     style='background-image: url("{{ url_for('static', filename='img/features/bpm_1.webp') }}");'
                     data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Interfaz de fácil uso</a></h5>
                        <p class="card-text">Acceda a BPMPro desde cualquier dispositivo electrónico (PC, Celular y
                            Pantalla táctil) mediante explorador de internet. Su interfaz amigable, facilita el acceso y uso
                            por el personal operativo.</p>
{#                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>#}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="card"
                     style='background-image: url("{{ url_for('static', filename='img/features/bpmpro2.webp') }}");'
                     data-aos="fade-up" data-aos-delay="200">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Cumplimiento Normativo</a></h5>
                        <p class="card-text">El diseño de BPMPro está alineado con los requerimientos normativos
                            exigidos por los diferentes entes de control del país, tal como <b>INVIMA</b> e <b>ICA</b>
                            en la <b>gestión de calidad</b> y de las Buenas Practicas de Manufactura.</p>
{#                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End More Services Section -->

<!-- ======= Features Section ======= -->
<section id="features" name="features" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Módulos</h2>
{#            <p>Funcionalidades Operativas</p>#}
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <i class="ri-file-2-fill" style="color: #ffbb2c;"></i>
                    <h3><a href="">Gestión Documental</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                    <h3><a href="">Indicadores de Gestión</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                    <h3><a href="">Capacitaciones</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                    <h3><a href="">Farmacovigilancia</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-database-2-line" style="color: #47aeff;"></i>
                    <h3><a href="">No Conformes</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-user-fill" style="color: #ffa76e;"></i>
                    <h3><a href="">Peticiones, Quejas y Reclamos</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3><a href="">Auditorias y Autoinspecciones</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                    <h3><a href="">Repositorios</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-2-line" style="color: #b2904f;"></i>
                    <h3><a href="">Gestión del Cambio</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-search-line" style="color: #b20969;"></i>
                    <h3><a href="">Analisis de Riesgos</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-base-station-line" style="color: #ff5828;"></i>
                    <h3><a href="">Acciones Correctivas y Preventivas</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-user-settings-line" style="color: #29cc61;"></i>
                    <h3><a href="">Actas de Reunión</a></h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->

<!-- ======= About Us Section ======= -->
<section id="about" name="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Características</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <p  style="text-align: justify">
                    Nuestra solución tecnológica BPMPro®, está diseñada para facilitar a nuestros clientes la gestión
                    y cumplimiento de las Buenas Prácticas de Manufactura (BPM) de medicamentos, cosméticos, alimentos,
                    suplementos dietarios, así como otros sistemas de gestión de calidad como ISO9001, CCAA, BPE, etc. A continuación, sus
                    principales características:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Interfaz amigable, consulta fácil y rápida de
                        documentos; garantizando integración de uso con las operaciones diarias de manufactura.
                    </li>
                    <li><i class="ri-check-double-line"></i> Generación de ahorros económicos por disminución en el
                        uso de papel.
                    </li>
                    <li><i class="ri-check-double-line"></i> Acceso ilimitado, desde la web y en cualquier dispositivo.
                    </li>
                    <li><i class="ri-check-double-line"></i> Gestión de documentos en formatos editables como
                        Microsoft Word, Excel y no editable como PDF.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <ul>
                    <li><i class="ri-check-double-line"></i> Implementación sin costos adicionales. Todo incluido en el
                        costo.
                    </li>
                    <li><i class="ri-check-double-line"></i> Integridad de los datos por almacenamiento soportado en
                        la nube, Amazon Web Service (AWS).
                    </li>
                    <li><i class="ri-check-double-line"></i> Acceso ilimitado, desde la web y en cualquier dispositivo.
                    </li>
                    <li><i class="ri-check-double-line"></i> Creación de usuarios ilimitada.
                    </li>
                    <li><i class="ri-check-double-line"></i> Integración con uso en áreas de manufactura con
                        computadores con pantallas táctiles.
                    </li>
                    <li><i class="ri-check-double-line"></i> Servicio exento de pago de IVA.
                    </li>
                    <li><i class="ri-check-double-line"></i> Integración con cuenta AWS corporativa del cliente.
                    </li>
                    <li><i class="ri-check-double-line"></i> Oferta de servicio con pago anual o mensual.
                    </li>
                    <li><i class="ri-check-double-line"></i> Plan de referidos con el 10% de descuento en el servicio.
                    </li>
                </ul>
            </div>
{#            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">#}
{#                <p>#}
{#                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in#}
{#                </p>#}
{#                <a href="#" class="btn-learn-more">Learn More</a>#}
{#            </div>#}
        </div>
    </div>
</section><!-- End About Us Section -->

{#<!-- ======= Counts Section ======= -->#}
{#<section id="counts" class="counts">#}
{#    <div class="container">#}
{##}
{#        <div class="row">#}
{#            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"#}
{#                 data-aos="fade-right" data-aos-delay="150">#}
{#                <img src="{{ url_for('static', filename='img/counts-img.svg') }}" alt="" class="img-fluid">#}
{#            </div>#}
{##}
{#            <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">#}
{#                <div class="content d-flex flex-column justify-content-center">#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 d-md-flex align-items-md-stretch">#}
{#                            <div class="count-box">#}
{#                                <i class="bi bi-emoji-smile"></i>#}
{#                                <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1"#}
{#                                      class="purecounter"></span>#}
{#                                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto#}
{#                                    ut.</p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-6 d-md-flex align-items-md-stretch">#}
{#                            <div class="count-box">#}
{#                                <i class="bi bi-journal-richtext"></i>#}
{#                                <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"#}
{#                                      class="purecounter"></span>#}
{#                                <p><strong>Projects</strong> adipisci atque cum quia aspernatur totam laudantium et quia#}
{#                                    dere tan</p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-6 d-md-flex align-items-md-stretch">#}
{#                            <div class="count-box">#}
{#                                <i class="bi bi-clock"></i>#}
{#                                <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"#}
{#                                      class="purecounter"></span>#}
{#                                <p><strong>Years of experience</strong> aut commodi quaerat modi aliquam nam ducimus aut#}
{#                                    voluptate non vel</p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-6 d-md-flex align-items-md-stretch">#}
{#                            <div class="count-box">#}
{#                                <i class="bi bi-award"></i>#}
{#                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"#}
{#                                      class="purecounter"></span>#}
{#                                <p><strong>Awards</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo#}
{#                                    pad der</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{#</section>#}


{#<!-- ======= Clients Section ======= -->#}
{#<section id="clients" class="clients clients">#}
{#    <div class="container">#}
{##}
{#        <div class="row">#}
{##}
{#            <div class="col-lg-2 col-md-4 col-6">#}
{#                <img src="{{ url_for('static', filename='img/clients/client-1.png') }}" class="img-fluid" alt=""#}
{#                     data-aos="zoom-in">#}
{#            </div>#}
{##}
{#            <div class="col-lg-2 col-md-4 col-6">#}
{#                <img src="{{ url_for('static', filename='img/clients/client-2.png') }}" class="img-fluid" alt=""#}
{#                     data-aos="zoom-in" data-aos-delay="100">#}
{#            </div>#}
{##}
{#            <div class="col-lg-2 col-md-4 col-6">#}
{#                <img src="{{ url_for('static', filename='img/clients/client-3') }}.png" class="img-fluid" alt=""#}
{#                     data-aos="zoom-in" data-aos-delay="200">#}
{#            </div>#}
{##}
{#            <div class="col-lg-2 col-md-4 col-6">#}
{#                <img src="{{ url_for('static', filename='img/clients/client-4') }}.png" class="img-fluid" alt=""#}
{#                     data-aos="zoom-in" data-aos-delay="300">#}
{#            </div>#}
{##}
{#            <div class="col-lg-2 col-md-4 col-6">#}
{#                <img src="{{ url_for('static', filename='img/clients/client-5.png') }}" class="img-fluid" alt=""#}
{#                     data-aos="zoom-in" data-aos-delay="400">#}
{#            </div>#}
{##}
{#            <div class="col-lg-2 col-md-4 col-6">#}
{#                <img src="{{ url_for('static', filename='img/clients/client-6.png') }}" class="img-fluid" alt=""#}
{#                     data-aos="zoom-in" data-aos-delay="500">#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#</section>#}

