{% extends 'layout.html' %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" name="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 itemprop="name" data-aos="fade-up">Software para Gestión Documental y Calidad</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Implemente electrónicamente sistemas de gestión de calidad como
                        BPM (Buenas Prácticas de Manufactura) e ISO9001 y elimine el uso del papel en su organización</h2>
                    <div data-aos="fade-up" data-aos-delay="800">
                        <a href="{{ url_for('contact') }}" class="btn-get-started scrollto" style="color: white; background: #141291; border: 0">
                            <b>Solicita tus 15 días gratis</b>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                    <img src="{{ url_for('static', filename='img/hero-img.webp') }}" width="578" height="430"
                         class="img-fluid animated" alt="Gestión Documental">
                </div>
            </div>
        </div>
    </section>

    {% include 'features.html' %}

    {% include 'contact.html' %}

{% endblock %}



